.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.top-element{
  width: 350px;
  height: 40px;
  font: 20px;
  margin-top: 50px;
  font: 20px;
  border-radius: 15px;
  border: 1px solid rgb(132, 131, 131);
}

.main-table{
border: 1px solid black;
}

.main-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgb(132, 131, 131);
  border-radius: 30px;
  width: 300px;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
}

.each-field{
  display: inline-block;
}

.icon-button:hover{
  cursor: pointer;
}

.title{
  font-size: 30px;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: -5px;
}
